target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
week3/**/.gitignore
week3/**/.gitattributes

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
week3/**/echo
week3/**/orm-learn/java
week3/**/maven-wrapper.properties
week3/**/orm-learn/mvn
